body {
  background: #1a002b; /* Royal dark purple */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* HEADINGS */
h1, h2, h3 {
  color: #d4af37; /* Titanium gold */
}

/* BUTTONS */
button {
  background: #d4af37;
  color: black;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

/* NAVBAR */
.navbar {
  background: #2b0040;
  padding: 15px;
  color: gold;
}

/* SIDEBAR */
.sidebar {
  background: black;
  border-right: 2px solid #d4af37;
  width: 250px;
  min-height: 100vh;
  padding: 20px;
}

/* CARDS */
.card {
  background: #12001f;
  border: 1px solid #d4af37;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}